@mixin rounded($size) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  overflow: hidden;
}

@mixin card-item-hover {
  box-shadow: var(--shadow);
  transform: scale(1.02);
  z-index: 10;
}
